<footer
      class="text-gray-400 bg-mydark-500 body-font overflow-hidden"
      style="
        background-image: url('/images/home/Artboard\ 1@2x.png');
        background-size: cover;
        background-blend-mode: soft-light;
      "

    >
	<div
        class="container w-full sm:w-8/12 mx-auto flex px-5 py-10 md:flex-row flex-col "
      >
		<div
          class=" flex flex-col md:w-1/2 md:items-start md:text-left mb-16 md:mb-0 items-center text-center"
        >
			<div class="flex items-center py-2">
				<small class="mx-1">Fund my coffee</small>
			</div>
			<h1 class="title-font sm:text-4xl text-xl mb-4 font-black text-white">
            An outside prespective helps
          </h1>
			<p class="leading-relaxed text-base">
            Dedicate one hour and we’ll confront your most pressing challenges and leave
            no stone unturned. Expect some big ideas and transformative opportunities.
          </p>
			<a
          href="/pages/products"
            class="button w-1/2"
          >
            Book me now
          </a>
		</div>
		<div class="flex-grow w-full md:w-1/2">
			<div class="relative full-bleed" 
			>
				<div class="bg-mydark-100 h-80 rounded-3xl">
					<img class="bg-mydark-100 h-80 rounded-3xl  mx-auto" src="/images/home/Artboard 2.png">
				</div>
			</div>
		</div>
	</div>
	<div class="w-full container flex justify-center items-center">
		{% for tag in collections.tagList | displayTags %}
			<a
						href="/tags/{{tag}}"
            class="tag"
          >
				{{ tag }}
			</a>
		{% endfor %}
	</div>
	<div class="bg-opacity-75">
		<div
          class="px-5 py-3 mx-auto flex items-center sm:flex-row flex-col justify-between"
        >
			<a
            class="flex font-medium items-center md:justify-start justify-center text-white"
          >
				<span class="ml-3">Kelvin Lockwood | 2021</span>
			</a>

			<span class="inline-flex sm:mt-0 mt-4 justify-between items-center">
				<a class="text-gray-400 mx-3">
					<img src="/images/icons/bxl-github.svg" alt="github"/>
				</a>
				<a class="text-gray-400 mx-3">
					<img src="/images/icons/bxl-twitter.svg" alt="twitter"/>
				</a>
				<a class="text-gray-400 mx-3">
					<img src="/images/icons/bxs-paper-plane.svg" alt="telegram"/>
				</a>
			</span>
			<div class="tracking-tight">⚪⚪⚪</div>
		</div>
	</div>
</footer>