<footer class="text-gray-400 flex flex-row items-center bg-mydark-500 body-font overflow-hidden h-" style="
            padding: 0;
            margin: 0;
            background-color: #14211e;
            background-image: radial-gradient(#939393 1px, transparent 2px);
            background-size: 50px 50px;

            @media screen and (max-width:800px){
                height: 600px;
            }

        ">

        <div style="
            background: linear-gradient(to left top, transparent, #14211e 80%);
            width: 100%;
            height: 100%;
        "/>
    <div class="md:mt-10 container w-full sm:w-8/12 mx-auto flex px-5 py-10 md:flex-row flex-col ">
        <div class="flex flex-col md:w-1/2 md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <div class="flex items-center py-2">
                <small class="mx-1">Fund my coffee</small>
            </div>
            <h1 class="title-font sm:text-4xl text-xl mb-4 font-black text-white">
                An outside perspective helps
            </h1>
            <p class="leading-relaxed text-base mr-8">
                Dedicate one hour and we’ll confront your most pressing challenges and leave
                                                                                                                                                                        no stone unturned. Expect some big ideas and transformative opportunities.
            </p>
            <a href="https://www.buymeacoffee.com/kelvinlockwood/e/24822" target="_blank" rel="noopener" class="button text-center w-2/6">
                Book me now
            </a>
        </div>
        <div class="flex-grow w-full md:w-1/2">
            <div class="xl:relative full-bleed">
                <div class="bg-mydark-100 h-80 rounded-3xl">
                    <img class="bg-mydark-100 h-80 rounded-3xl  mx-auto" src="/images/home/Artboard 2.png" alt="footer-img"></div>
                </div>
            </div>
        </div>
        <div class="w-full container flex justify-center items-center py-10">
            {% for tag in collections.tagList | displayTags %}
                <a href="/tags/{{ tag }}" class="tag">
                    {{ tag }}
                </a>
            {% endfor %}
        </div>
        <div class="bg-opacity-75">
            <div class="px-5 py-3 mx-auto flex items-center sm:flex-row flex-col justify-between">
                <a class="flex font-medium items-center md:justify-start justify-center text-white">
                    <span class="ml-3">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
                        </svg>
                    </span>
                </a>
                <div class="tracking-tight">⚪⚪⚪</div>
            </div>
        </div>
        <div class="social-footer">
            <span class="inline-flex sm:mt-0 mt-4 justify-between items-center">
                <a class="text-gray-400 mx-3">
                    <img src="/images/icons/bxl-github.svg" alt="github"/>
                </a>
                <a class="text-gray-400 mx-3">
                    <img src="/images/icons/bxl-twitter.svg" alt="twitter"/>
                </a>
                <a class="text-gray-400 mx-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="#f5f1e4">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                    </svg>
             </a>
         </span>
    </div>
</footer>