{%- for article in articleList -%}
	<div class="md:w-3/4 flex flex-col items-start">
		<div class="flex items-center justify-center">
			<img class="w-3" src="/images/icons/bxs-pencil.svg" alt="link"/>
			<span
            class="py-1 px-2 text-gray-400 text-opacity-75 text-xs font-medium tracking-widest"
          >
				{{ article.date | displayDate }}
			</span>
		</div>
		<h2
          class="sm:text-2xl text-xl title-font font-medium text-white mt-1 mb-4"
        >
			<a href="{{ article.url }}">
				{{ article.data.title }}
			</a>
		</h2>
		<p class="leading-relaxed mb-5">
			{{ article.data.banner.description }}
		</p>
		<div class="flex items-center flex-wrap mb-5 mt-auto w-full">
			{% for tag in article.data.tags | displayTags %}
				<a href="/tags/{{tag}}"
            class="tag"
          >
					{{ tag }}
				</a>
			{% endfor %}
		</div>
	</div>
{%- endfor -%}