{%- for note in noteList -%}
	<div class="md:w-3/4 flex flex-col items-start">
		<div class="flex items-center justify-center">
			<img class="w-3" src="/images/icons/bx-link.svg" alt="link"/>
			<a
              href="http://{{ note.url }}" target="_blank"
            class="py-1 px-2 text-gray-400 text-opacity-75 text-xs font-medium tracking-widest"
          >
				{{ note.url }}
			</a>
		</div>
		<h2
          class="sm:text-2xl text-xl title-font font-medium text-white mt-1 mb-4"
        >
			{{ note.title }}
		</h2>
		<p class="leading-relaxed mb-5">
			{{ note.description }}
		</p>
		<div class="flex items-center flex-wrap mb-5 mt-auto w-full">
			{% for tag in note.tags | displayTags %}
				<a
						href="/tags/{{tag}}"
            class="tag"
          >
					{{ tag }}
				</a>
			{% endfor %}
		</div>
	</div>
{% endfor %}