{% for product in productList|sort(attribute='data.details')  %}

	<div class="p-4 bg-mydark-500 rounded-xl md:w-4/5 product w-full mb-5 mx-auto">
		<div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left p-3">
			<img alt="team" class="flex-shrink-0 rounded-lg sm:w-1/2 w-full h-80 object-cover object-center sm:mb-0 mb-4" src="{{ product.data.image }}">
			<div class="flex-grow sm:pl-8">
				<h2 class="title-font font-medium text-xl text-white">{{ product.data.title }}</h2>
				<h3 class="text-gray-200 font-medium">{{ product.data.subtitle }}</h3>
				<h4 class="text-gray-200 font-light mb-3">{{ product.data.details }}</h4>
				<p class="mb-4 text-gray-300">{{ product.data.description }}
					<ul class="tracking-wide sm:w-full text-left w-1/4 mx-auto text-gray-400 mb-5">
						{% for item in product.data.tags | displayTags %}
							<li>{{ item }}</li>
						{% endfor %}
					</ul>
				</p>
				<a
            href="{{ product.data.url }}" target='_blank'
            class="button"
          >
            Visit project
          </a>
			</div>
		</div>
	</div>
{% endfor %}
