---
layout: layouts/base.njk
---

{% block body %}
  <main class="w-full  bg-gradient-to-b from-mydark-300 to-mydark-500 flex justify-center ">
    <section class="container justify-center lg:w-8/12 flex flex-col lg:flex-row mx-auto w-full m-0  py-10">
      <div class="flex justify-between lg:justify-start lg:flex-col text-center mb-5 flex-grow pr-12 text-sm">
        <div class="flex flex-col pb-5">
          <span class="my-2 text-gray-400 flex items-center font-light">
            {{ date | displayDate }}
          </span>
          <span class="my-2 text-gray-400 flex items-center font-light">

            {% set wc = content | striptags | wordcount %}
            {% set wPerMinute = (wc / 200) + 1 %}
            {{ wPerMinute | round }} min read.
          </span>
        </div>
        <div class="flex flex-col items-start">
          {% for tag in tags | displayTags %}
            <a
						href="/tags/{{tag}}"
            class="tag mt-4"
          >
              {{ tag }}
            </a>
          {% endfor %}

        </div>
      </div>
      <div class="flex flex-col article-width markdown text-white">
        {{ content | safe }}
      </div>
    </section>
  </main>
{% endblock %}