<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      {% if page.url.includes('article') %}
        <meta name="twitter:image" property="og:image" content="https://res.cloudinary.com/dyukcbbpg/image/upload/co_rgb:ecebeb,l_text:Georgia_85_bold_center:{{title}},x_0,y_-42/c_scale,g_south_east,l_uyrtha6wqg56kokboa98,w_166,x_25,y_25/v1618577502/mctocfhjo9bkq0fdusyh.png" />
        <meta name="twitter:image:alt" property="og:image:alt" content="{{ site.meta.ogImgAlt }}" />
        <meta property="og:description" content="I'm Kelvin Lockwood, a non-technical startup founder and jack of all trades working on products, subscription services and marketplaces." />
      {% else %}
        <meta name="twitter:image" property="og:image" content="https://res.cloudinary.com/dyukcbbpg/image/upload/c_scale,w_1266/c_scale,g_south_east,l_uyrtha6wqg56kokboa98,w_166,x_25,y_25/co_rgb:ffffff,l_text:Georgia_80_bold_center:Kelvin Lockwood/v1618577502/mctocfhjo9bkq0fdusyh.png" />
        <meta name="twitter:image:alt" property="og:image:alt" content="{{ title }}" />
      {% endif %}
    <link rel="stylesheet" href="/assets/main.bundle.css"/>
    <script src="/assets/main.bundle.js" defer></script>
    <title>{{ title }}
      | TEA Stack</title>
    {% block head %}{% endblock %}
  </head>
  <body class="text-white bg-mydark-500 {{ 'debug-screens' if env.devMode }}">
    {% include 'header.njk' %}
    {% if banner %}
      {% include "banner.njk" %}
    {% endif %}
    {% block body %}
      <div class="m-0 bg-mydark-300">
        {% if page.url == '/pages/about/' %}
          <div class=" markdown py-10 container max-w-6xl">
            {{ content | safe }}
          </div>
        {% endif %}
        {% if page.url != '/pages/about/' %}
          {{ content | safe }}
        {% endif %}
      </div>
    {% endblock %}
    {% include "footer.njk" %}
    <script defer>
      if (window.ResizeObserver && document.getElementById('reading-progress')) {
        const progress = document.getElementById('reading-progress');
        let timeOfLastScroll = 0;
        let requestedAniFrame = false;
        function scroll() {
          if (! requestedAniFrame) {
            requestAnimationFrame(updateProgress);
            requestedAniFrame = true;
          }
          timeOfLastScroll = Date.now();
        }
        addEventListener('scroll', scroll);
        let winHeight = 1000;
        let bottom = 10000;
        function updateProgress() {
          requestedAniFrame = false;
          const percent = Math.min((document.scrollingElement.scrollTop / (bottom - winHeight)) * 100, 100);
          progress.style.transform = `translate(-${
            100 - percent
          }vw, 0)`;
          if (Date.now() - timeOfLastScroll < 3000) {
            requestAnimationFrame(updateProgress);
            requestedAniFrame = true;
          }
        }
        new ResizeObserver(() => {
          bottom = document.scrollingElement.scrollTop + document
            .querySelector('footer')
            .getBoundingClientRect()
            .bottom;
          winHeight = window.innerHeight;
          scroll();
        }).observe(document.body);
      }
    </script>
  </body>
</html>