<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if page.url.includes('article') %}
    <meta name="twitter:title" content="{{title}} | Kelvin Lockwood's personal site" />
    <meta name="twitter:description" content="I'm Kelvin Lockwood, a non-technical startup founder and all-rounder working on products, subscription services and marketplaces." />
    <meta property="og:description" content="I'm Kelvin Lockwood, a non-technical startup founder and all-rounder working on products, subscription services and marketplaces." />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="image" content="https://i.microlink.io/https%3A%2F%2Fcards.microlink.io%2F%3Fpreset%3Drauchg%26color%3D%2523ced4da%26bg%3D%252314211e%26domain%3Dpedantic-sinoussi-3efb9c.netlify.app%26title%3D{{title}}%26logo%3Dhttps%253A%252F%252Fres.cloudinary.com%252Fdyukcbbpg%252Fimage%252Fupload%252Fc_scale%252Cw_485%252Fv1618526801%252Fuyrtha6wqg56kokboa98.png" />
    <meta itemprop="image" content="https://i.microlink.io/https%3A%2F%2Fcards.microlink.io%2F%3Fpreset%3Drauchg%26color%3D%2523ced4da%26bg%3D%252314211e%26domain%3Dpedantic-sinoussi-3efb9c.netlify.app%26title%3D{{title}}%26logo%3Dhttps%253A%252F%252Fres.cloudinary.com%252Fdyukcbbpg%252Fimage%252Fupload%252Fc_scale%252Cw_485%252Fv1618526801%252Fuyrtha6wqg56kokboa98.png" />
    <meta name="twitter:image" content="https://i.microlink.io/https%3A%2F%2Fcards.microlink.io%2F%3Fpreset%3Drauchg%26color%3D%2523ced4da%26bg%3D%252314211e%26domain%3Dpedantic-sinoussi-3efb9c.netlify.app%26title%3D{{title}}%26logo%3Dhttps%253A%252F%252Fres.cloudinary.com%252Fdyukcbbpg%252Fimage%252Fupload%252Fc_scale%252Cw_485%252Fv1618526801%252Fuyrtha6wqg56kokboa98.png" />
    <meta property="og:image" content="https://i.microlink.io/https%3A%2F%2Fcards.microlink.io%2F%3Fpreset%3Drauchg%26color%3D%2523ced4da%26bg%3D%252314211e%26domain%3Dpedantic-sinoussi-3efb9c.netlify.app%26title%3D{{title}}%26logo%3Dhttps%253A%252F%252Fres.cloudinary.com%252Fdyukcbbpg%252Fimage%252Fupload%252Fc_scale%252Cw_485%252Fv1618526801%252Fuyrtha6wqg56kokboa98.png" />
    {% else %}
    <meta name="twitter:title" content="{{title}} | Kelvin Lockwood's personal site" />
    <meta name="twitter:description" content="I'm Kelvin Lockwood, a non-technical startup founder and all-rounder working on products, subscription services and marketplaces." />
      <meta name="twitter:card" content="summary_large_image" />
    <meta name="image" content="https://i.microlink.io/https%3A%2F%2Fcards.microlink.io%2F%3Fpreset%3Drauchg%26color%3D%2523ced4da%26bg%3D%252314211e%26domain%3Dpedantic-sinoussi-3efb9c.netlify.app%26title%3DKelvin%2BLockwood%26logo%3Dhttps%253A%252F%252Fres.cloudinary.com%252Fdyukcbbpg%252Fimage%252Fupload%252Fc_scale%252Cw_485%252Fv1618526801%252Fuyrtha6wqg56kokboa98.png" />
    <meta itemprop="image" content="https://i.microlink.io/https%3A%2F%2Fcards.microlink.io%2F%3Fpreset%3Drauchg%26color%3D%2523ced4da%26bg%3D%252314211e%26domain%3Dpedantic-sinoussi-3efb9c.netlify.app%26title%3DKelvin%2BLockwood%26logo%3Dhttps%253A%252F%252Fres.cloudinary.com%252Fdyukcbbpg%252Fimage%252Fupload%252Fc_scale%252Cw_485%252Fv1618526801%252Fuyrtha6wqg56kokboa98.png" />
    <meta name="twitter:image" content="https://i.microlink.io/https%3A%2F%2Fcards.microlink.io%2F%3Fpreset%3Drauchg%26color%3D%2523ced4da%26bg%3D%252314211e%26domain%3Dpedantic-sinoussi-3efb9c.netlify.app%26title%3DKelvin%2BLockwood%26logo%3Dhttps%253A%252F%252Fres.cloudinary.com%252Fdyukcbbpg%252Fimage%252Fupload%252Fc_scale%252Cw_485%252Fv1618526801%252Fuyrtha6wqg56kokboa98.png" />
    <meta property="og:image" content="https://i.microlink.io/https%3A%2F%2Fcards.microlink.io%2F%3Fpreset%3Drauchg%26color%3D%2523ced4da%26bg%3D%252314211e%26domain%3Dpedantic-sinoussi-3efb9c.netlify.app%26title%3DKelvin%2BLockwood%26logo%3Dhttps%253A%252F%252Fres.cloudinary.com%252Fdyukcbbpg%252Fimage%252Fupload%252Fc_scale%252Cw_485%252Fv1618526801%252Fuyrtha6wqg56kokboa98.png" />
    {% endif %}
    <link rel="stylesheet" href="/assets/main.bundle.css"/>
    <script src="/assets/main.bundle.js" defer></script>
    <title>{{ title }} | Kelvin Lockwood's personal site</title>
    {% block head %}{% endblock %}
  </head>
  <body class="text-white bg-mydark-500 {{ 'debug-screens' if env.devMode }}">
    {% include 'header.njk' %}
    {% if banner %}
      {% include "banner.njk" %}
    {% endif %}
    {% block body %}
      <div class="m-0 bg-mydark-300">
        {% if page.url == '/pages/about/' %}
          <div class=" markdown py-10 container max-w-6xl">
            {{ content | safe }}
          </div>
        {% endif %}
        {% if page.url != '/pages/about/' %}
          {{ content | safe }}
        {% endif %}
      </div>
    {% endblock %}
    {% include "footer.njk" %}
    <script defer>
      if (window.ResizeObserver && document.getElementById('reading-progress')) {
        const progress = document.getElementById('reading-progress');
        let timeOfLastScroll = 0;
        let requestedAniFrame = false;
        function scroll() {
          if (! requestedAniFrame) {
            requestAnimationFrame(updateProgress);
            requestedAniFrame = true;
          }
          timeOfLastScroll = Date.now();
        }
        addEventListener('scroll', scroll);
        let winHeight = 1000;
        let bottom = 10000;
        function updateProgress() {
          requestedAniFrame = false;
          const percent = Math.min((document.scrollingElement.scrollTop / (bottom - winHeight)) * 100, 100);
          progress.style.transform = `translate(-${
            100 - percent
          }vw, 0)`;
          if (Date.now() - timeOfLastScroll < 3000) {
            requestAnimationFrame(updateProgress);
            requestedAniFrame = true;
          }
        }
        new ResizeObserver(() => {
          bottom = document.scrollingElement.scrollTop + document
            .querySelector('footer')
            .getBoundingClientRect()
            .bottom;
          winHeight = window.innerHeight;
          scroll();
        }).observe(document.body);
      }
    </script>
  </body>
</html>
