---
title: Single Article
layout: layout.njk
eleventyNavigation:
  key: Article
  order: 1
banner:
  title: Magna etiam tempor orci eu lino loborti na lapa di toli
  subtitle: Tellus elementum sagittis vitae et leo duis ut diam. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus.
---

{% block body %}
<main class="w-full bg-mydark-300 flex justify-center">
  <section class="container sm:w-8/12 mx-auto w-full m-0 flex py-10">
    <div class="w-1/3 pr-12 text-sm">
      <div class="flex flex-col border-b-4 border-mygray-500 pb-5">
        <span class="my-2 text-gray-400 flex items-center font-light">
          <img class="w-3 mr-2" src="/images/icons/bxs-pencil.svg" alt="link" />
          10 Feb2020
        </span>
        <span class="my-2 text-gray-400 flex items-center font-light">
          <img
            class="w-3 mr-2"
            src="/images/icons/bxs-stopwatch.svg"
            alt="link"
          />

          2 min read
        </span>
      </div>
      <div class="flex flex-col items-start mt-3">
        <span
          class="mt-4 py-1 px-2 bg-mygray-500 rounded-xl text-gray-200 text-opacity-75 text-xs font-medium tracking-widest"
        >
          technology
        </span>
        <span
          class="mt-4 py-1 px-2 bg-mygray-500 rounded-xl text-gray-200 text-opacity-75 text-xs font-medium tracking-widest"
        >
          ui-ux
        </span>
      </div>
    </div>
    <p class="flex w-2/3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ut cum,
      nostrum porro, molestiae voluptates nam neque placeat aliquid saepe quod
      blanditiis eligendi ab illo ad corrupti ex culpa velit aspernatur
      accusamus dolorum quae natus. Dolor consectetur ut autem sit, atque,
      corporis cupiditate praesentium harum placeat, odit dolore explicabo? Ea
      eos repellat dignissimos, ex maxime non officiis doloribus eius sit a
      facilis consectetur, maiores voluptate quas, iusto ullam nihil perferendis
      harum nobis repellendus delectus libero debitis nisi architecto? Quia
      laboriosam tempora magnam eos. Illum mollitia architecto est, facilis,
      soluta odit, qui laboriosam itaque molestias ullam hic. Voluptatem modi
      blanditiis vel in hic repudiandae id, ratione quisquam error voluptatibus
      quae eveniet dolorem, qui nostrum quas consequuntur laborum sunt,
      exercitationem quia inventore rerum nobis? Perferendis similique,
      blanditiis, eius, voluptates eveniet autem itaque accusamus praesentium
      quis optio deleniti. Animi temporibus repudiandae minus eveniet, aliquid
      id explicabo voluptatum, voluptatibus distinctio quis eum in et modi
      recusandae ipsa culpa! Voluptas earum repellat porro error esse adipisci
      blanditiis a rerum, exercitationem enim nesciunt natus, optio tempore
      fugit facilis accusamus modi explicabo repellendus! Tempora laudantium
      iste nulla eligendi accusantium, temporibus enim vel ut dicta, adipisci
      culpa modi quibusdam reiciendis quasi? Eius tempora exercitationem nisi
      sapiente odit saepe modi aperiam recusandae, soluta numquam esse eligendi
      sit ad natus, aliquid, minima consectetur magni asperiores laboriosam
      nihil magnam tempore sequi! Temporibus deleniti eveniet corporis veniam
      doloremque velit, sint est consequatur qui? Suscipit nihil quaerat harum
      enim quibusdam numquam accusantium eligendi. Ipsum dolorem accusamus iusto
      officiis minus hic, aut, ut rem molestiae quod ratione quam sint amet, ea
      aliquid alias aperiam repudiandae officia consectetur sapiente dolore odio
      animi tempore eius. Quis excepturi fugiat ad. Dolor quam fugit vero nulla!
      Nam culpa sapiente adipisci! Alias dolore earum ex exercitationem iusto
      provident corporis repellat, quaerat tempore quidem delectus at voluptate
      velit necessitatibus eum architecto rem. Odit impedit quam quos harum.
      Quidem quasi officia, itaque illo saepe odit! Unde suscipit, maiores
      doloremque quos placeat nisi maxime optio officiis libero possimus, dolore
      aperiam cupiditate assumenda saepe omnis quasi est et ducimus ad. A fugiat
      nemo dicta rem, ducimus eligendi voluptatibus excepturi sunt expedita quas
      ea corrupti totam aliquid minima eveniet quidem. Laboriosam odit excepturi
      ratione? Unde ex debitis voluptas, repudiandae, qui excepturi consequatur
      et molestias repellendus ipsa magni! Ea nihil distinctio esse culpa!
      Itaque doloremque explicabo voluptas officia labore earum voluptatibus
      optio nobis ullam, incidunt fugiat quaerat qui maxime ea deleniti ab modi
      architecto. Eius nam voluptas odio inventore nemo quos aliquid, sapiente
      optio! Enim expedita sint corrupti quos odio. Rerum aliquam ut cupiditate,
      repellat culpa, officiis explicabo ratione quaerat qui voluptatibus esse,
      eveniet deserunt repudiandae corrupti blanditiis ullam enim eaque
      distinctio. Repellat quibusdam vel ipsum autem dignissimos officia ab
      perferendis sequi. Vitae autem deleniti iste voluptates, assumenda totam,
      quae nostrum fuga doloremque ducimus veniam quaerat accusamus. Vel rem
      itaque cum, corporis dolorem excepturi repellendus quos fuga fugiat
      debitis nostrum. Molestiae voluptatem odit minus expedita atque omnis,
      voluptate facilis optio officiis autem ullam dicta veritatis culpa in
      sequi aliquid magni dolore voluptates? Dolores, ipsa quia?
    </p>
  </section>
</main>
{% endblock %}
