---
title: Articles
layout: layouts/base.njk
eleventyNavigation:
  key: Articles
  order: 1
banner:
  description: Here’s where I try to get better at putting my thoughts, opinions and ideas into words.
permalink: articles/index.html
---

{% block body %}
  <main class="w-full bg-gradient-to-b from-mydark-300 via-mydark-500 to-mydark-300 flex justify-center">
    <section
    class="container sm:w-8/12 mx-auto w-5/6 m-0 flex items-center justify-center"
  >
      <div class="pt-5 flex flex-col-reverse flex-grow width-full z-10">
        {% set articleList = collections.article %}
        {% include "components/articleList.njk" %}
      </div>
    </section>
  </main>
{% endblock %}
