---
title: Notes
layout: layouts/base.njk
eleventyNavigation:
  key: Notes
  order: 3
banner:
  description: Here are some of my references. These links are here because they helped me on my work!
---

{% block body %}
  <main class="w-full bg-mydark-300 flex justify-center">
    <section
    class="container sm:w-8/12 mx-auto w-full m-0 flex items-center justify-center"
  >
      <div class="pt-5">
        {% set noteList = collections.note %}
        {% include "components/noteList.njk" %}
      </div>
    </section>
  </main>
{% endblock %}