---
title: Work
layout: layouts/base.njk
banner:
  title: Products I built. 
  description: This is a list of all the projects I've worked on. Vel quam elementum pulvinar etiam non. Nunc aliquet.
eleventyNavigation:
  key: Work
  order: 1
---
{% block body %}
<section class="w-full py-4 bg-mydark-300 flex flex-col items-center  justify-center">

        {% set productList = collections.product %}
        {% include "components/productList.njk" %}
</section>
{% endblock %}
