---
title: Work
layout: layouts/base.njk
banner:
  title: Work 
  description: Here’s some of the things I’ve created.
eleventyNavigation:
  key: Work
  order: 1
---
{% block body %}
<section class="w-full py-4 bg-mydark-300 flex flex-col-reverse items-center  justify-center">

        {% set productList = collections.product %}
        {% include "components/productList.njk" %}
</section>
{% endblock %}
