---
title: Products
layout: layouts/base.njk
eleventyNavigation:
  key: Products
  order: 1
banner:
  title: Products I built. 
  description: This is a list of all the projects I've worked on. Vel quam elementum pulvinar etiam non. Nunc aliquet.
---
{% block body %}
<section class="w-full py-4 bg-mydark-300 flex items-center  justify-center">
<div class="p-4 bg-mydark-500 rounded-xl w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-64 object-cover object-center sm:mb-0 mb-4" src="https://dummyimage.com/200x300">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-xl text-white">Frankly Books</h2>
            <h3 class="text-gray-300 font-medium">Book Marketplace</h3>
            <h4 class="text-gray-300 font-light mb-3">2021 - Product Creation</h4>
            <p class="mb-4 text-gray-400">DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware.
            <ul class="tracking-wide text-gray-400">
              <li>DIY tote bag drinking </li>
              <li>DIY tote bag drinking </li>
            </ul>
            </p>
            <button
            class="bg-myred-500 rounded-lg text-white  hover:bg-white hover:text-myred-500 px-4 py-2 my-5 w-1/2"
          >
            Visit
          </button>
          </div>
        </div>
      </div>
</section>
{% endblock %}
