---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - article
eleventyComputed:
  title: Tagged “{{ tag }}” 
banner:
  description:
permalink: /tags/{{ tag }}/
---
{% block body %}
  <main class="w-full bg-mydark-300 flex justify-center">
    <section
    class="container sm:w-8/12 w-full m-0 flex items-center justify-start"
  >
      <div class="pt-5 flex-grow">
        {# data #}
        {% set articleList = collections.article | byTag(tag) %}
        {% set noteList = collections.note | byTag(tag) %}
        {% set productList = collections.product | byTag(tag) %}
        {# render #}
        {% include "components/articleList.njk" %}
        {% if articleList.length %}
          {% if noteList.length %}
            <div class="border-b-2 border-mygray-500 my-5"></div>
          {% endif %}
        {% endif %}
        {% include "components/noteList.njk" %}
        {% if productList.length %}
          {% if noteList.length %}
            <div class="border-b-2 border-mygray-500 my-5"></div>
          {% endif %}
        {% endif %}
        {% include "components/productList.njk" %}
      </div>
    </section>
  </main>

{% endblock %}
