/* Custom Base Styles Go Here. */
li {
  position: relative;
  left: 26px;
}
li::before {
  content: url(/images/icons/bx-arrow.svg);
  margin-left: -26px;
  @apply absolute left-0 top-0;
}
li + li {
  @apply mt-4;
}
.article-width {
  max-width: 700px;
}
.product {
  max-width: 900px;
}
.social-footer {
  display: flex;
  justify-content: center;
  position: relative;
  top: -25px;
  height: 0;
}
