/* Custom Components Go Here. */
.button {
  @apply inline-block bg-myred-500 rounded text-white  hover:bg-white hover:text-mydark-500 px-4 py-2 my-5;
}
.tag {
  @apply mr-4 py-1 px-2 bg-mygray-500 rounded-lg
   text-gray-200 text-opacity-75 text-xs font-medium
    tracking-widest uppercase hover:bg-myred-500;
}
